{
  "extends": ["airbnb/base", "prettier"],
  "env": {
    "browser": true
  },
  "rules": {
    "import/extensions": ["always"]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
  }
}